In [7]:
#필요한 패키지(판다스, 넘피를 import 하고 pd,np로 별명을 만드시오
import pandas as pd
import numpy as np

In [61]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 시리즈  문제

In [10]:
# 연습문제 1
# 임의로 두개의 시리즈 객체를 만든다.
# 모두 문자열 인덱스를가져야 하며 두 시리즈에 공통적으로 
# 포함 되지 않는 인덱스(라벨)가 있어야 한다.
# 값과 시리즈 원소 개수도 임의 설정할 것
num_s1=pd.Series([1,2,3,4], index=["a","b","c","d"])
num_s1

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
num_s2=pd.Series([5,6,7,8], index=["b","c","d","a"])
num_s2

b    5
c    6
d    7
a    8
dtype: int64

In [5]:
#연습문제 2 : 아래 시리즈 객체를 이용하여 사칙연산을 
#수행하고 결과를 출력하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

In [11]:
ex_s1+ex_s2

국어    190
영어    160
수학    150
dtype: int64

In [12]:
ex_s1-ex_s2

국어    0
영어    0
수학    0
dtype: int64

In [13]:
ex_s1*ex_s2

국어    9025
영어    6400
수학    5625
dtype: int64

In [14]:
ex_s1/ex_s2

국어    1.0
영어    1.0
수학    1.0
dtype: float64

In [ ]:
#연습문제 3 : 아래 두 객체에 대하여 아래 제시된 연산을 수행하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [18]:
ex_s1-ex_s2

국어    0
영어    0
수학    0
dtype: int64

In [ ]:
키값은 유지,값만 계산됨

In [15]:
ex_s1.values - ex_s2.values
# 위 연산을 수행했을 때 출력되는 결과를 설명하시오

array([0, 0, 0], dtype=int64)

In [35]:
# 연습문제 4
# 아래 데이터를 이용해서 시리즈 s를 생성하시오
    # 서울 : 9904312, 부산 : 3448737, 인천 : 2890451,  대구 : 2466052

In [70]:
s=pd.Series([9904312,3448737,289045,2466052],index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [64]:
# 연습문제 5 :
#시리즈 s 변수의 인덱스를 출력해서 확인하고
#세번째 인덱스의 값을 라벨인덱스로 접근 후 출력하시오.
s.index[0:4]
s.index[3]

Index(['서울', '부산', '인천', '대구'], dtype='object')

'대구'

In [71]:
s["인천"]

289045

In [74]:
# 연습문제 6
#시리즈 s에 대하여 라벨(문자)인덱싱을 이용하고
#부산, 인천, 대구의 값을 추출하시오.

s[[1,2,3]]

부산    3448737
인천     289045
대구    2466052
dtype: int64

In [80]:
# 연습문제 7
#아래 데이터를 이용하여 시리즈를 생성하고 데이터 순서를 서울, 부산, 인천, 대전 으로 설정하시오 - 딕셔너리 활용
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158
city={"서울":9631482, "부산":3393191 , "인천":2632035, "대전":1490158}
s=pd.Series(city)
s=pd.Series(city,index=["서울","부산","인천","대전"])
s

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [88]:
# 연습문제 8
# 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오
s.index.name="도시"
s.name="인구"
s

도시
서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

In [82]:
# 연습문제 9
# 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

s[(s>300e4)]

도시
서울    9631482
부산    3393191
Name: 인구, dtype: int64

In [84]:
# 연습문제 10
# 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요
s["서울"]=11000000
s

도시
서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

In [89]:
# 연습문제 11
# 대전 데이터를 삭제하세요
del s["대전"]
s

도시
서울    11000000
부산     3393191
인천     2632035
Name: 인구, dtype: int64

In [90]:
# 연습문제 12 
# 대구 데이터가 있는지 확인 하세요
"대구"  in s

False